<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
    <title>VGP</title>
</head>

<body>
    <menu>
        <nav>

            <div class="menu">
                <div class="logos">
                    <a class="links" href="/"><img src="/assets/img/LogoPNG.png" alt="" class="logo"></a>
                </div>
                <div class="menu-a">
                    <a class="links" href="/">Home</a>
                </div>
                <div class="menu-a">
                    <a class="links" href="/">Console</a>
                </div>
                <div class="menu-a">
                    <a class="links" href="/">Log</a>
                </div>
                <div class="menu-a">
                    <a class="links" href="/">Folders</a>
                </div>
                <div class="menu-a">
                    <a class="links" href="/">MySQL</a>
                </div>
                <div class="menu-a">
                    <a class="links" href="/">Settings</a>
                </div>

            </div>

            <header class="title">
                <h1>Console Frame</h1>
            </header>

            <div class="frame">
                <div class="console">
                    <h1 class="top-console">Console Title</h1>

                    {{> console}}
                    {{!-- {{#each console}}
                    <h1 style="text-align:left;">{{this}}</h1>
                    {{/each}} --}}

                    <input class="fot-console"></br>

                </div>
                <div class="status">
                    <h1>CPU Status</h1>
                </div>
            </div>


        </nav>
    </menu>
</body>

</html>